@tailwind base;
@tailwind components;
@tailwind utilities;

.banner{
    background-image: url('./images/book.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


@media screen and (max-width:400px) {
    .banner{
        background-image: url('./images/book.png');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
   
}