@tailwind base;
@tailwind components;
@tailwind utilities;

.banner{
    background-image: url('./images/mk-s-dcmakwtE--4-unsplash.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}